@media (max-width: 1480px){
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }
    section{
        padding: 110px 3% 60px;
    }
    .footer{
        padding: 15px 3%;
    }
    .do{
        display: none;
    }
}
@media (max-width:1100px) {
    :root{
        --big-font: 4rem;
        --h2-font:2.5rem;
        transition: .1s;
    }
    .home{
        height: 87vh;
    }
    .home-text h3{
        font-size: 2.5rem;
    }
}
@media (max-width:920px){
    .about{
        grid-template-columns: 1fr;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .contact{
        grid-template-columns: 1fr;
    }
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;
    }
    .navlist a{
        display: block;
        margin: 17px ;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-white);
    }
    .navlist a:hover{
        color: var(--main-color);
    }
    .navlist a.active{
        color: var(--main-color);
    }
    .navlist.open{
        top: 100%
    }
    .hero{
        display: unset;
    }
    .do{
        display: none;
    }
}
@media (max-width: 480px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;
    }
    .navlist a{
        display: block;
        margin: 17px ;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-white);
    }
    .navlist a:hover{
        color: var(--main-color);
    }
    .navlist a.active{
        color: var(--main-color);
    }
    .navlist .open{
        top: 100%
    }
    .footer .last-text .hero{
        display: none;
    }
    .footer .last-text .do{
        display: unset;
    }
    .footer .last-text p{
        font-size: 0.7rem;
    }
    .footer .top i{
        font-size: 1rem;
    }
}
